// Fonts

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

*:focus {
  outline-offset: 3px;
  outline: 2px dotted var(--title-color);
}

body {
  font-family: var(--primary-font-family);
  background-color: var(--primary-bg-color);
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* CONTAINER */
.container {
  max-width: $desktop;
  width: 100%;
  margin: 0 auto;
}

/* VISUALLY HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
}

/* BUTTON */
.button {
  padding: 12px 24px;
  background-color: var(--btn-bg-color);
  text-transform: uppercase;
  border-radius: 8px;
  font-family: "Open Sans Condensed", sans-serif;
  color: var(--primary-bg-color);
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  white-space: nowrap;
  border: 2px solid var(--btn-bg-color);
  transition: background-color 0.3s ease, color 0.4s ease, opacity 0.4s ease;

  &:hover {
    background-color: transparent;
    color: var(--btn-bg-color);
  }

  &:active {
    opacity: 0.6;
  }

  @media only screen and (max-width: $tablet-l) {
    padding: 10px 20px;
    font-size: 14px;
  }

  @media only screen and (max-width: $tablet) {
    padding: 9px 16px;
    font-size: 14px;
  }
}

// btn outline
.btn-outline {
  padding: 12px 24px;
  border: 2px solid var(--primary-bg-color);
  border-radius: 8px;
  color: var(--primary-bg-color);
  text-transform: uppercase;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.2;
  transition: border 0.3s ease, background-color 0.4s ease, opacity 0.4s ease;

  &:hover {
    border: 2px solid var(--btn-bg-color);
    background-color: var(--btn-bg-color);
  }

  &:active {
    opacity: 0.6;
  }
}
